/*COLOR PALETTE

Dark green    #3c8453
Sandy beige   #bcaa96 font-family: "Sevillana", cursive
Dark gray     #222222
Light gray    #d3d4d6
Off-white     #f6f6f6
*/
/*Global Styles----*/
html{
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
}
body {
    background: #e32b2b;
}
body h1,h2{
    font-family: "Sevillana", cursive;
}
/*link ------*/
a{
    color : #fc0404;

}
a:hover{
    color: #bcaa96;
}
html,body{
    height:100%;
}
.download-link{
    position: fixed;
    top:0;
    left:0;
}
.btn{
    background-color: #3c8453;
    color: #f6f6f6;

}

/*HOME --------*/
.home{
    background-image: url('bg-coffee-shop.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.home .contantwrapper{
    flex: 1 0 auto;
}

.container{
    background-color: rgba(255,255,255,0.9);
}

/*RESUME --------*/
    .resume{
        background-color: #f6f6f6;
        background-image: url('bg-coffee-shop.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .resume header::before {
        background-image:url('bg-home-office-studio.jpg');
        background:rgba(255,255,255,0.9);
        display: block;
        background-size: cover;
        height: 375px;
        content: '';
    }
    .resume header:hover::before {
        background-position: center; /* Change the position on hover */
    }




/* Education --------*/
.education{
    background: rgba(255,255,255,0.9);
    background-size: cover;
    padding: 5px;
}
/*Profile --------*/
.profile{
    background: rgba(255,255,255,0.9);
    background-size: cover;
    padding: 5px;
}
.profile p{
    color:rgb(0,255,0);
}

/*Project ----------*/
.project{
    background-size: cover;
    padding: 5px;
}

/*Certificate -------*/
.certificate{
    padding: 5px;
}

/*Skills ---------*/
.skills{
    background-size: cover;
    padding:5px;
}
/*Footer ----*/
footer{
    background-color: #222222;
    color: #ffffff;
    margin: 0;
}
footer,a .mail{
    color:#5307f8;
    margin: 0;
}
a:hover{
    color: #bcaa96;
}
footer{
    margin: 0;
    padding: 10px;
}
/*Header------*/
header{
    color:#e32b2b;
}
/*Responsive---------*/
@media screen and (min-width: 600px) {
    
}
